/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}



/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 200px;
}

.tbl {
    
    align-items: center;
    display: flex;
    justify-content: center;
}
.tbl2 {
    align-items: center;
    display: flex;
    justify-content: end;
}
    #myTable{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    width: 90%;
    display: table;
    border-collapse: collapse;
    border: solid #C5C5C5;
    background-color: white;
    border-spacing: 0;
    white-space: normal;
    padding: 3px;
}
#myTable td, th {
    border: 1px solid #C5C5C5;
    text-align: center;
    padding: 3px 3px 3px;
}

.pagination {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
    .pagination li {
        margin: 0 1px;
    }


.colhobbies {
    max-width: 200px;
    word-break: break-word;
}

.coladdress {
    max-width: 200px;
    word-break: break-word;
}

.colemail {
    max-width: 170px;
    word-break: break-word;
}

.colstate {
    max-width: 100px;
    word-break: break-word;
}

.colname {
    max-width: 150px;
    word-break: break-word;
}
#table_data{

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
